<div class="card flex justify-content-center">
  <div>
    <div class="mx-4 my-2 flex justify-content-center">
      <h1>Hello World</h1>
    </div>
    <div *ngFor="let text of submittedText">
      {{ text }}
    </div>

    <div id="input-container">
      <div class="card flex justify-content-center">
        <input
          type="text"
          pInputText
          [(ngModel)]="textPrompt"
          (keydown.enter)="onSubmitPrompt()"
        />
        <div class="flex align-items-center ml-2">
          <p-button
            icon="pi pi-send"
            styleClass="p-button-text"
            (onClick)="onSubmitPrompt()"
          ></p-button>
        </div>
      </div>
    </div>
  </div>
</div>
